.entry-box {
  .options {
    margin: 15px 0 25px;
    display: flex;
    justify-content: space-between;
  }

  .star-container {
    padding-top: 5px;

    .star.active {
      display: inline-block;
    }
  }
}
