.search-bar {
  input {
    margin-bottom: 0;
    background-color: #2850a7;
    border-radius: 2px;
    border: none;
    color: white;
  }

  input:focus {
    background-color: #2850a7;
    border: none;
    outline: 1px solid black;
    box-shadow: none;
  }
}
